body, div, h1, h2, h3, h4, p, ul,li, img, aside{
	margin:0;
	padding:0;
	border:0;
	/*resets css so takes off html styles*/
}
body{
	font-family: helvetica, arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
}

/*margin is set to auto set the size depending on the size of browser screen.
centers the text to the middle of the page.*/
nav {
	margin: 0 auto;
	text-align: center;
}
/*this will make the nested list within the list disappear
nav -> ul -> nested ul*/
nav ul ul {
	display: none;
	background: #5f6975;
	/*rounds the edges of the the list items*/
	border-radius: 0px;
	padding:0;
	/*setting the position absolute just brings the list down. relative it will fix it up as it wants*/
	position:absolute;
}
/*the hover is what makes the scroll down menu come down 
nav -> ul (parent) -> li (child) :hover (greater than sign) -> list within the list*/
	nav ul li:hover > ul{
		display: block;
	}
nav ul {
	background: #efefef;
	/*padding :top/bottom left/right;*/
	padding:0 20;
	list-style: none;
	/*takes 3 values 1st-shadow to the left 2nd-shadow to the bottom 3rd-opacity then needs a color(rgba)*/
	box-shadow: 0px 0px 9px rgba(0,0,0,15);
	position: relative;
	display:inline-table;
}
	/*after basically is a reset to the unordered list in the nav*/
	nav ul:after {
			content:"";
			clear:both;
			display:block;
	}
	nav ul li a {
		display: block;
		padding:25px 40px;
		color:#757575;
		/*got rid of the underline under the items*/
		text-decoration: none;

	}
nav ul li {
	float:left;
}
/*this hover will target the background of the ul and the list items when hovered over */
nav ul li:hover{
	background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
}
nav ul li:hover a {
	color: #fff;
}

/*targets the nested list and resets the float to 0;*/
nav ul ul li {
	float:none;
	border-top: 1px solid #6b727c;
	border-bottom:1px solid #575f6a;
	position:relative;	
}
/*this targets the (children) of the links */
nav ul ul li a {
	padding: 15px 40px;
	
}
.container {
	width:800px;
	margin:0 auto;
}
.logo {
	background-color: #909eab;	
	border-radius: 10px;
}
/*this will target the image logo not all pics in file. if you want to target all pics it will just be img{}*/
.logo img{
	padding-left: 40%;
} 
h1 {
	padding:15px 0;
}